@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 dark:bg-slate-950 text-black dark:text-gray-50 transition duration-300;
}

select,
textarea,
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='number'] {
  @apply block w-full mb-1 rounded-md text-black;
  @apply border p-2 border-gray-200;
  @apply placeholder-gray-400 dark:placeholder:text-gray-900;
}
input[type='email']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled,
select:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500 dark:text-gray-200;
}
label {
  @apply text-gray-800 dark:text-gray-300 text-sm leading-tight;
}
label + input {
  margin-top: -2px;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
