@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

select,
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}
input[type='email']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
label {
  @apply text-gray-500 text-sm leading-tight;
}
label + input {
  margin-top: -2px;
}
